 h1{
	  background-color: powderblue ;
	  text-align: center;
	}
	div{ 
	    border: 1px solid;  white;
	  }
	  .wrapper {
	      text-align: center;
	      display: grid;
	      grid-template-columns: 33% 33% 33%;
	      
	  } 
	  .hack {
	    font-weight: 900
	  }
	   .myltiSet{
	      text-align: center;
	      color: crimson;
	  }
	  body{
	    background-color: powderblue;
	  }
